@tailwind base;
@tailwind components;
@tailwind utilities;



 
.main{
    width: 100%;
    height: 100vh;
}
video{
    width:100%;
    height:100%;
    object-fit: cover;
    
}

.content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white; 
}

.button{
    background-color:#e50914 ;
    border-radius: 12px;
    
}
 .time{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: end;
    color:white; 
    font-weight: 800;
}

.cursor{
  position: fixed;
  background: #fff; 
  height: 8px;
  width: 8px;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: translate(-50%,-50%);
  pointer-events:none;
  transition: .1s;
}
/*
#down{
   
    background-color: rgb(85, 243, 6);
    height: 250px;
    width: 1550px;

}
#svg1{
    height: 50px;
    width: 50px;
    margin-left: 200px;
    margin-top: 20px;
 
}
#svg2{
    height: 50px;
    width: 50px;
    margin-left: 100px;
    margin-top: 20px;

}
#svg3{
    height: 42px;
    width: 42px;
    margin-left: 100px;
    margin-top: 20px;

}
#footerlocation{
    margin-left: 100px;
    margin-top: 20px;
}
#footernumber{
    margin-left: 210px;
    margin-top: 20px;
}
#footermail{
    margin-left: 220px;
    margin-top: 20px;
}
#rights{
    margin-left: 620px;
    margin-top: 70px;
}*/
.navbar{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 999;
    
}